<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnAdd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,70}</string>
                <key>spriteSourceSize</key>
                <string>{188,70}</string>
                <key>textureRect</key>
                <string>{{537,758},{188,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnCancle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,53}</string>
                <key>spriteSourceSize</key>
                <string>{151,53}</string>
                <key>textureRect</key>
                <string>{{702,820},{151,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnOK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,53}</string>
                <key>spriteSourceSize</key>
                <string>{151,53}</string>
                <key>textureRect</key>
                <string>{{702,875},{151,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnRemove.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,70}</string>
                <key>spriteSourceSize</key>
                <string>{188,70}</string>
                <key>textureRect</key>
                <string>{{537,948},{188,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,33}</string>
                <key>spriteSourceSize</key>
                <string>{34,33}</string>
                <key>textureRect</key>
                <string>{{816,316},{34,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkImg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,35}</string>
                <key>spriteSourceSize</key>
                <string>{44,35}</string>
                <key>textureRect</key>
                <string>{{816,1},{44,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>checkWord.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,34}</string>
                <key>spriteSourceSize</key>
                <string>{267,34}</string>
                <key>textureRect</key>
                <string>{{816,47},{267,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clubBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{813,716}</string>
                <key>spriteSourceSize</key>
                <string>{813,716}</string>
                <key>textureRect</key>
                <string>{{1,1},{813,716}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,49}</string>
                <key>spriteSourceSize</key>
                <string>{305,49}</string>
                <key>textureRect</key>
                <string>{{486,719},{305,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>editBigBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{483,317}</string>
                <key>spriteSourceSize</key>
                <string>{483,317}</string>
                <key>textureRect</key>
                <string>{{1,719},{483,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headBox0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{727,719},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headBox1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{609,719},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headTest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{609,820},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{709,5}</string>
                <key>spriteSourceSize</key>
                <string>{709,5}</string>
                <key>textureRect</key>
                <string>{{852,47},{709,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>clubLayer.png</string>
            <key>size</key>
            <string>{858,1037}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9236ab0428120ad23576582ae2e29aad:573b857fdcf587b486bba1adbeaacc81:e00aa287353ed6cf42a5db1375f77e7a$</string>
            <key>textureFileName</key>
            <string>clubLayer.png</string>
        </dict>
    </dict>
</plist>
