<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1768,959}</string>
                <key>spriteSourceSize</key>
                <string>{1768,959}</string>
                <key>textureRect</key>
                <string>{{1,1},{1768,959}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,79}</string>
                <key>spriteSourceSize</key>
                <string>{224,79}</string>
                <key>textureRect</key>
                <string>{{1771,457},{224,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,79}</string>
                <key>spriteSourceSize</key>
                <string>{224,79}</string>
                <key>textureRect</key>
                <string>{{1771,683},{224,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnNoSelect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,85}</string>
                <key>spriteSourceSize</key>
                <string>{226,85}</string>
                <key>textureRect</key>
                <string>{{1771,1},{226,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnSelect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,85}</string>
                <key>spriteSourceSize</key>
                <string>{226,85}</string>
                <key>textureRect</key>
                <string>{{1771,229},{226,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnTypeBg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,94}</string>
                <key>spriteSourceSize</key>
                <string>{247,94}</string>
                <key>textureRect</key>
                <string>{{1871,436},{247,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnTypeBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,94}</string>
                <key>spriteSourceSize</key>
                <string>{247,94}</string>
                <key>textureRect</key>
                <string>{{1871,685},{247,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mode1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,43}</string>
                <key>spriteSourceSize</key>
                <string>{106,43}</string>
                <key>textureRect</key>
                <string>{{1655,962},{106,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mode10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,43}</string>
                <key>spriteSourceSize</key>
                <string>{105,43}</string>
                <key>textureRect</key>
                <string>{{1871,934},{105,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mode2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,43}</string>
                <key>spriteSourceSize</key>
                <string>{106,43}</string>
                <key>textureRect</key>
                <string>{{1763,962},{106,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mode3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,42}</string>
                <key>spriteSourceSize</key>
                <string>{160,42}</string>
                <key>textureRect</key>
                <string>{{812,962},{160,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mode4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,43}</string>
                <key>spriteSourceSize</key>
                <string>{161,43}</string>
                <key>textureRect</key>
                <string>{{162,962},{161,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mode5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,44}</string>
                <key>spriteSourceSize</key>
                <string>{159,44}</string>
                <key>textureRect</key>
                <string>{{1,962},{159,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mode6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{160,43}</string>
                <key>spriteSourceSize</key>
                <string>{196,43}</string>
                <key>textureRect</key>
                <string>{{488,962},{160,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mode7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,42}</string>
                <key>spriteSourceSize</key>
                <string>{106,42}</string>
                <key>textureRect</key>
                <string>{{1967,650},{106,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mode8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,43}</string>
                <key>spriteSourceSize</key>
                <string>{161,43}</string>
                <key>textureRect</key>
                <string>{{325,962},{161,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mode9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,43}</string>
                <key>spriteSourceSize</key>
                <string>{160,43}</string>
                <key>textureRect</key>
                <string>{{650,962},{160,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{433,137}</string>
                <key>spriteSourceSize</key>
                <string>{437,139}</string>
                <key>textureRect</key>
                <string>{{1871,1},{433,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>type1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,37}</string>
                <key>spriteSourceSize</key>
                <string>{105,37}</string>
                <key>textureRect</key>
                <string>{{1978,436},{105,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>type2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,37}</string>
                <key>spriteSourceSize</key>
                <string>{139,37}</string>
                <key>textureRect</key>
                <string>{{1115,962},{139,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>type3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,37}</string>
                <key>spriteSourceSize</key>
                <string>{139,37}</string>
                <key>textureRect</key>
                <string>{{1256,962},{139,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>type4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,37}</string>
                <key>spriteSourceSize</key>
                <string>{105,37}</string>
                <key>textureRect</key>
                <string>{{1978,543},{105,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>type5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,37}</string>
                <key>spriteSourceSize</key>
                <string>{137,37}</string>
                <key>textureRect</key>
                <string>{{1397,962},{137,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>type6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,38}</string>
                <key>spriteSourceSize</key>
                <string>{139,38}</string>
                <key>textureRect</key>
                <string>{{974,962},{139,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>type7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,37}</string>
                <key>spriteSourceSize</key>
                <string>{104,37}</string>
                <key>textureRect</key>
                <string>{{1978,865},{104,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>type8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,37}</string>
                <key>spriteSourceSize</key>
                <string>{105,37}</string>
                <key>textureRect</key>
                <string>{{1967,758},{105,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>word1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,39}</string>
                <key>spriteSourceSize</key>
                <string>{117,39}</string>
                <key>textureRect</key>
                <string>{{1536,962},{117,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,39}</string>
                <key>spriteSourceSize</key>
                <string>{78,39}</string>
                <key>textureRect</key>
                <string>{{1771,909},{78,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>createLayer.png</string>
            <key>size</key>
            <string>{2016,1007}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bc35b20d5742e29e0e680ac6df5fe69:2cec0a00910bb93cc01f0559fd89c3bf:e8d8fd5aa545c1134dcc8a343d0903a9$</string>
            <key>textureFileName</key>
            <string>createLayer.png</string>
        </dict>
    </dict>
</plist>
