<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{841,499}</string>
                <key>spriteSourceSize</key>
                <string>{841,499}</string>
                <key>textureRect</key>
                <string>{{1,1},{841,499}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnFind.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,65}</string>
                <key>spriteSourceSize</key>
                <string>{128,65}</string>
                <key>textureRect</key>
                <string>{{312,844},{128,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnSend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,85}</string>
                <key>spriteSourceSize</key>
                <string>{226,85}</string>
                <key>textureRect</key>
                <string>{{1,899},{226,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,53}</string>
                <key>spriteSourceSize</key>
                <string>{309,53}</string>
                <key>textureRect</key>
                <string>{{1,844},{309,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>giftLayer.png</string>
            <key>size</key>
            <string>{501,985}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dba53877cc40d53a2ef4b769f9f6cc7a:88eae8c370b41bf269593a066f47d2a1:ad13a576878076b88fb346af72890284$</string>
            <key>textureFileName</key>
            <string>giftLayer.png</string>
        </dict>
    </dict>
</plist>
