<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bottomBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{1334,121}</string>
                <key>spriteSourceSize</key>
                <string>{1334,123}</string>
                <key>textureRect</key>
                <string>{{1,1},{1334,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnAdd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,50}</string>
                <key>spriteSourceSize</key>
                <string>{49,50}</string>
                <key>textureRect</key>
                <string>{{1183,357},{49,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnClub.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{255,336},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnCreate6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,134}</string>
                <key>spriteSourceSize</key>
                <string>{425,134}</string>
                <key>textureRect</key>
                <string>{{507,260},{425,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnCreate9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,134}</string>
                <key>spriteSourceSize</key>
                <string>{425,134}</string>
                <key>textureRect</key>
                <string>{{847,124},{425,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnExit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,50}</string>
                <key>spriteSourceSize</key>
                <string>{114,50}</string>
                <key>textureRect</key>
                <string>{{333,296},{114,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnGift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1183,260},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnHelp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,63}</string>
                <key>spriteSourceSize</key>
                <string>{110,63}</string>
                <key>textureRect</key>
                <string>{{1274,124},{110,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnHistory.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,63}</string>
                <key>spriteSourceSize</key>
                <string>{125,63}</string>
                <key>textureRect</key>
                <string>{{128,346},{125,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnInvite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,51}</string>
                <key>spriteSourceSize</key>
                <string>{161,51}</string>
                <key>textureRect</key>
                <string>{{365,124},{161,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnJoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{427,134}</string>
                <key>spriteSourceSize</key>
                <string>{427,134}</string>
                <key>textureRect</key>
                <string>{{418,124},{427,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnNotice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,52}</string>
                <key>spriteSourceSize</key>
                <string>{127,52}</string>
                <key>textureRect</key>
                <string>{{934,279},{127,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnReturnRoom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,220}</string>
                <key>spriteSourceSize</key>
                <string>{191,220}</string>
                <key>textureRect</key>
                <string>{{1,124},{191,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnRoomInfo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,124}</string>
                <key>spriteSourceSize</key>
                <string>{120,124}</string>
                <key>textureRect</key>
                <string>{{385,287},{120,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnSetting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,64}</string>
                <key>spriteSourceSize</key>
                <string>{125,64}</string>
                <key>textureRect</key>
                <string>{{1,346},{125,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnShare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1261,279},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,41}</string>
                <key>spriteSourceSize</key>
                <string>{57,41}</string>
                <key>textureRect</key>
                <string>{{1274,236},{57,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamondBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,41}</string>
                <key>spriteSourceSize</key>
                <string>{170,41}</string>
                <key>textureRect</key>
                <string>{{322,124},{170,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{988,279},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headBoxBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,104}</string>
                <key>textureRect</key>
                <string>{{1089,279},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,60}</string>
                <key>spriteSourceSize</key>
                <string>{1,60}</string>
                <key>textureRect</key>
                <string>{{128,411},{1,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,126}</string>
                <key>spriteSourceSize</key>
                <string>{210,126}</string>
                <key>textureRect</key>
                <string>{{194,124},{210,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hallScene.png</string>
            <key>size</key>
            <string>{1338,413}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e635d528102456c721075fa041c213ab:a6de438ba63f576c3b89e8fcf15a127d:ee767e3aa46a7694dfca09e6f6f02a99$</string>
            <key>textureFileName</key>
            <string>hallScene.png</string>
        </dict>
    </dict>
</plist>
