<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnReturn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,65}</string>
                <key>spriteSourceSize</key>
                <string>{81,65}</string>
                <key>textureRect</key>
                <string>{{1166,296},{81,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>itemBg6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1163,250}</string>
                <key>spriteSourceSize</key>
                <string>{1163,250}</string>
                <key>textureRect</key>
                <string>{{1,331},{1163,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemBg9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{1163,328}</string>
                <key>spriteSourceSize</key>
                <string>{1163,362}</string>
                <key>textureRect</key>
                <string>{{1,1},{1163,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,75}</string>
                <key>spriteSourceSize</key>
                <string>{293,75}</string>
                <key>textureRect</key>
                <string>{{1166,1},{293,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>historyLayer.png</string>
            <key>size</key>
            <string>{1242,582}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b941749557c345a7633bc98221efc16d:ef2893a80bec2abb567da64e85e486be:53dedcf6a1b6a33a2f68eef8c4190efd$</string>
            <key>textureFileName</key>
            <string>historyLayer.png</string>
        </dict>
    </dict>
</plist>
