<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{914,606}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,349},{914,606}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgList6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{890,172}</string>
                <key>spriteSourceSize</key>
                <string>{890,172}</string>
                <key>textureRect</key>
                <string>{{1,1},{890,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgList9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{890,172}</string>
                <key>spriteSourceSize</key>
                <string>{890,172}</string>
                <key>textureRect</key>
                <string>{{1,175},{890,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgSmall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,393}</string>
                <key>spriteSourceSize</key>
                <string>{286,393}</string>
                <key>textureRect</key>
                <string>{{609,349},{286,393}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnClose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,52}</string>
                <key>spriteSourceSize</key>
                <string>{166,52}</string>
                <key>textureRect</key>
                <string>{{609,744},{166,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnInvite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,47}</string>
                <key>spriteSourceSize</key>
                <string>{131,47}</string>
                <key>textureRect</key>
                <string>{{777,826},{131,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnJoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,47}</string>
                <key>spriteSourceSize</key>
                <string>{131,47}</string>
                <key>textureRect</key>
                <string>{{826,826},{131,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnList.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,52}</string>
                <key>spriteSourceSize</key>
                <string>{166,52}</string>
                <key>textureRect</key>
                <string>{{609,798},{166,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editImg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{609,852},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>onFree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,39}</string>
                <key>spriteSourceSize</key>
                <string>{101,39}</string>
                <key>textureRect</key>
                <string>{{777,744},{101,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>onGame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,39}</string>
                <key>spriteSourceSize</key>
                <string>{101,39}</string>
                <key>textureRect</key>
                <string>{{777,785},{101,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>roomInfoLayer.png</string>
            <key>size</key>
            <string>{896,1264}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca128efd501fb3a10fb8cee987940ff0:34b4da523a9cd55d3dad335eb69c3678:a16dfa0399d8ebcf319e1818151837c3$</string>
            <key>textureFileName</key>
            <string>roomInfoLayer.png</string>
        </dict>
    </dict>
</plist>
