<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{433,137}</string>
                <key>spriteSourceSize</key>
                <string>{437,139}</string>
                <key>textureRect</key>
                <string>{{1,1},{433,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,338}</string>
                <key>spriteSourceSize</key>
                <string>{228,338}</string>
                <key>textureRect</key>
                <string>{{1,140},{228,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,338}</string>
                <key>spriteSourceSize</key>
                <string>{228,338}</string>
                <key>textureRect</key>
                <string>{{231,140},{228,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,338}</string>
                <key>spriteSourceSize</key>
                <string>{228,338}</string>
                <key>textureRect</key>
                <string>{{1,480},{228,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,338}</string>
                <key>spriteSourceSize</key>
                <string>{228,338}</string>
                <key>textureRect</key>
                <string>{{231,480},{228,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sxin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,128}</string>
                <key>spriteSourceSize</key>
                <string>{123,128}</string>
                <key>textureRect</key>
                <string>{{1,820},{123,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>settingLayer.png</string>
            <key>size</key>
            <string>{460,944}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d05ac0e7f78b8d98376a24768650f68f:c1a3f54bbf839e04c399201fad461358:b064243657558bc97f07dd1a43a41a0f$</string>
            <key>textureFileName</key>
            <string>settingLayer.png</string>
        </dict>
    </dict>
</plist>
