<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{841,499}</string>
                <key>spriteSourceSize</key>
                <string>{843,499}</string>
                <key>textureRect</key>
                <string>{{1,131},{841,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{412,128}</string>
                <key>spriteSourceSize</key>
                <string>{412,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{412,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{412,128}</string>
                <key>spriteSourceSize</key>
                <string>{412,128}</string>
                <key>textureRect</key>
                <string>{{415,1},{412,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shareLayer.png</string>
            <key>size</key>
            <string>{843,631}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55d62e1ec820627824dcd2eab31ac69e:c493f1b56ba280d3082f071f8d4b0659:e13f761be07bb2a581c8c1b5f7799ae0$</string>
            <key>textureFileName</key>
            <string>shareLayer.png</string>
        </dict>
    </dict>
</plist>
