<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>niuBg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,125}</string>
                <key>spriteSourceSize</key>
                <string>{347,125}</string>
                <key>textureRect</key>
                <string>{{1,1},{347,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niuBg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,120}</string>
                <key>spriteSourceSize</key>
                <string>{208,120}</string>
                <key>textureRect</key>
                <string>{{128,1},{208,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niu_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,55}</string>
                <key>spriteSourceSize</key>
                <string>{97,55}</string>
                <key>textureRect</key>
                <string>{{1,627},{97,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,55}</string>
                <key>spriteSourceSize</key>
                <string>{98,55}</string>
                <key>textureRect</key>
                <string>{{127,385},{98,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,55}</string>
                <key>spriteSourceSize</key>
                <string>{98,55}</string>
                <key>textureRect</key>
                <string>{{1,399},{98,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,46}</string>
                <key>spriteSourceSize</key>
                <string>{95,46}</string>
                <key>textureRect</key>
                <string>{{201,442},{95,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niu_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,56}</string>
                <key>spriteSourceSize</key>
                <string>{125,56}</string>
                <key>textureRect</key>
                <string>{{128,211},{125,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,56}</string>
                <key>spriteSourceSize</key>
                <string>{125,56}</string>
                <key>textureRect</key>
                <string>{{128,269},{125,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,56}</string>
                <key>spriteSourceSize</key>
                <string>{125,56}</string>
                <key>textureRect</key>
                <string>{{128,327},{125,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,46}</string>
                <key>spriteSourceSize</key>
                <string>{92,46}</string>
                <key>textureRect</key>
                <string>{{1,684},{92,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,47}</string>
                <key>spriteSourceSize</key>
                <string>{91,47}</string>
                <key>textureRect</key>
                <string>{{201,636},{91,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niu_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,47}</string>
                <key>spriteSourceSize</key>
                <string>{91,47}</string>
                <key>textureRect</key>
                <string>{{100,670},{91,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,47}</string>
                <key>spriteSourceSize</key>
                <string>{124,47}</string>
                <key>textureRect</key>
                <string>{{1,350},{124,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,55}</string>
                <key>spriteSourceSize</key>
                <string>{98,55}</string>
                <key>textureRect</key>
                <string>{{101,442},{98,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,55}</string>
                <key>spriteSourceSize</key>
                <string>{98,55}</string>
                <key>textureRect</key>
                <string>{{1,456},{98,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,55}</string>
                <key>spriteSourceSize</key>
                <string>{98,55}</string>
                <key>textureRect</key>
                <string>{{101,499},{98,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,55}</string>
                <key>spriteSourceSize</key>
                <string>{98,55}</string>
                <key>textureRect</key>
                <string>{{1,513},{98,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,55}</string>
                <key>spriteSourceSize</key>
                <string>{98,55}</string>
                <key>textureRect</key>
                <string>{{101,556},{98,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,55}</string>
                <key>spriteSourceSize</key>
                <string>{98,55}</string>
                <key>textureRect</key>
                <string>{{1,570},{98,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,55}</string>
                <key>spriteSourceSize</key>
                <string>{98,55}</string>
                <key>textureRect</key>
                <string>{{101,613},{98,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,46}</string>
                <key>spriteSourceSize</key>
                <string>{95,46}</string>
                <key>textureRect</key>
                <string>{{201,539},{95,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>niutypeMap.png</string>
            <key>size</key>
            <string>{254,731}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18dcfad4de4a5b2aaf6ade91221448c8:84e56a176df5c1b0525f03b82aa14363:6b13c95e9c582e7cdfe4ce0c36cad5e7$</string>
            <key>textureFileName</key>
            <string>niutypeMap.png</string>
        </dict>
    </dict>
</plist>
