<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnCancle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,79}</string>
                <key>spriteSourceSize</key>
                <string>{224,79}</string>
                <key>textureRect</key>
                <string>{{1,1188},{224,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnClose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{486,979},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnOK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,79}</string>
                <key>spriteSourceSize</key>
                <string>{224,79}</string>
                <key>textureRect</key>
                <string>{{227,1188},{224,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joinAndSetBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{815,614}</string>
                <key>spriteSourceSize</key>
                <string>{817,614}</string>
                <key>textureRect</key>
                <string>{{1,1},{815,614}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loadAni.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,36}</string>
                <key>spriteSize</key>
                <string>{62,44}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{308,1137},{62,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loadItem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,76}</string>
                <key>spriteSourceSize</key>
                <string>{66,76}</string>
                <key>textureRect</key>
                <string>{{453,1145},{66,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loadingBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,49}</string>
                <key>spriteSourceSize</key>
                <string>{305,49}</string>
                <key>textureRect</key>
                <string>{{1,1137},{305,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{74,79}</string>
                <key>spriteSourceSize</key>
                <string>{80,79}</string>
                <key>textureRect</key>
                <string>{{486,1069},{74,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>paomaBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1197,45}</string>
                <key>spriteSourceSize</key>
                <string>{1197,45}</string>
                <key>textureRect</key>
                <string>{{617,1},{1197,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipsBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{483,317}</string>
                <key>spriteSourceSize</key>
                <string>{483,317}</string>
                <key>textureRect</key>
                <string>{{1,818},{483,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipsImg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,93}</string>
                <key>spriteSourceSize</key>
                <string>{159,93}</string>
                <key>textureRect</key>
                <string>{{486,818},{159,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>allUse.png</string>
            <key>size</key>
            <string>{663,1268}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5dc8cc0f1fd724f12494839bae3faa6e:c02fb7b1bdf8466b7154eee885cb5135:313d19d207efebc530840e2f8d114fcc$</string>
            <key>textureFileName</key>
            <string>allUse.png</string>
        </dict>
    </dict>
</plist>
