<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6infoBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,74}</string>
                <key>spriteSourceSize</key>
                <string>{156,74}</string>
                <key>textureRect</key>
                <string>{{338,1081},{156,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6infoBgMain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,572}</string>
                <key>spriteSourceSize</key>
                <string>{274,572}</string>
                <key>textureRect</key>
                <string>{{1,1},{274,572}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6niutypeBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,35}</string>
                <key>spriteSourceSize</key>
                <string>{205,35}</string>
                <key>textureRect</key>
                <string>{{460,425},{205,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9bankerNumBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,27}</string>
                <key>spriteSourceSize</key>
                <string>{48,27}</string>
                <key>textureRect</key>
                <string>{{280,1081},{48,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9bgOri.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,178}</string>
                <key>spriteSourceSize</key>
                <string>{335,178}</string>
                <key>textureRect</key>
                <string>{{1,1119},{335,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9bgSelect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,178}</string>
                <key>spriteSourceSize</key>
                <string>{335,178}</string>
                <key>textureRect</key>
                <string>{{280,425},{335,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9infoBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,59}</string>
                <key>spriteSourceSize</key>
                <string>{139,59}</string>
                <key>textureRect</key>
                <string>{{423,1226},{139,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9infoBg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,70}</string>
                <key>spriteSourceSize</key>
                <string>{164,70}</string>
                <key>textureRect</key>
                <string>{{354,762},{164,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9infoBgMain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,542}</string>
                <key>spriteSourceSize</key>
                <string>{277,542}</string>
                <key>textureRect</key>
                <string>{{1,575},{277,542}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9niutypeBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,29}</string>
                <key>spriteSourceSize</key>
                <string>{172,29}</string>
                <key>textureRect</key>
                <string>{{426,762},{172,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnOK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,79}</string>
                <key>spriteSourceSize</key>
                <string>{224,79}</string>
                <key>textureRect</key>
                <string>{{277,263},{224,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnShare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,79}</string>
                <key>spriteSourceSize</key>
                <string>{224,79}</string>
                <key>textureRect</key>
                <string>{{277,344},{224,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>finaScoreWord.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,72}</string>
                <key>spriteSourceSize</key>
                <string>{169,72}</string>
                <key>textureRect</key>
                <string>{{219,1378},{169,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{143,72}</string>
                <key>spriteSourceSize</key>
                <string>{171,84}</string>
                <key>textureRect</key>
                <string>{{381,936},{143,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niu11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,72}</string>
                <key>spriteSourceSize</key>
                <string>{220,84}</string>
                <key>textureRect</key>
                <string>{{1,1378},{216,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,72}</string>
                <key>spriteSourceSize</key>
                <string>{220,84}</string>
                <key>textureRect</key>
                <string>{{280,762},{216,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niu13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,72}</string>
                <key>spriteSourceSize</key>
                <string>{171,84}</string>
                <key>textureRect</key>
                <string>{{414,1081},{143,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>roomMaster.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{280,980},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,77}</string>
                <key>spriteSourceSize</key>
                <string>{403,77}</string>
                <key>textureRect</key>
                <string>{{1,1299},{403,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wen12_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{83,42}</string>
                <key>spriteSourceSize</key>
                <string>{85,46}</string>
                <key>textureRect</key>
                <string>{{460,632},{83,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wen13_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{83,42}</string>
                <key>spriteSourceSize</key>
                <string>{85,46}</string>
                <key>textureRect</key>
                <string>{{338,1239},{83,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winImg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,260}</string>
                <key>spriteSourceSize</key>
                <string>{236,260}</string>
                <key>textureRect</key>
                <string>{{277,1},{228,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bigOverLayer.png</string>
            <key>size</key>
            <string>{506,1451}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6af7a12091b958bb6eb6a4c4b1031148:a93335cb42163bf0403d651b292298d4:e20ef45243541d007eca734eac01bf0d$</string>
            <key>textureFileName</key>
            <string>bigOverLayer.png</string>
        </dict>
    </dict>
</plist>
