<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,94}</string>
                <key>spriteSourceSize</key>
                <string>{161,94}</string>
                <key>textureRect</key>
                <string>{{558,453},{161,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,15}</string>
                <key>spriteSize</key>
                <string>{74,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,140}</string>
                <key>textureRect</key>
                <string>{{878,492},{74,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{576,18}</string>
                <key>spriteSourceSize</key>
                <string>{586,50}</string>
                <key>textureRect</key>
                <string>{{283,331},{576,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{586,50}</string>
                <key>spriteSourceSize</key>
                <string>{586,50}</string>
                <key>textureRect</key>
                <string>{{179,331},{586,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{586,50}</string>
                <key>spriteSourceSize</key>
                <string>{586,50}</string>
                <key>textureRect</key>
                <string>{{231,331},{586,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,84}</string>
                <key>spriteSourceSize</key>
                <string>{135,90}</string>
                <key>textureRect</key>
                <string>{{344,1050},{125,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>allBet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,32}</string>
                <key>spriteSourceSize</key>
                <string>{102,32}</string>
                <key>textureRect</key>
                <string>{{581,1172},{102,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>allBetBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,41}</string>
                <key>spriteSourceSize</key>
                <string>{189,41}</string>
                <key>textureRect</key>
                <string>{{588,616},{189,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>betBoxBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-139}</string>
                <key>spriteSize</key>
                <string>{784,176}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,331},{784,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>betItem0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,112}</string>
                <key>spriteSourceSize</key>
                <string>{97,112}</string>
                <key>textureRect</key>
                <string>{{829,351},{97,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>betItem1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,112}</string>
                <key>spriteSourceSize</key>
                <string>{97,112}</string>
                <key>textureRect</key>
                <string>{{772,727},{97,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>betItem2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,112}</string>
                <key>spriteSourceSize</key>
                <string>{97,112}</string>
                <key>textureRect</key>
                <string>{{850,826},{97,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>betItem3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,112}</string>
                <key>spriteSourceSize</key>
                <string>{97,112}</string>
                <key>textureRect</key>
                <string>{{850,925},{97,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>betItem4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,112}</string>
                <key>spriteSourceSize</key>
                <string>{97,112}</string>
                <key>textureRect</key>
                <string>{{742,938},{97,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>betItem5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,112}</string>
                <key>spriteSourceSize</key>
                <string>{97,112}</string>
                <key>textureRect</key>
                <string>{{742,1052},{97,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>betTips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,34}</string>
                <key>spriteSourceSize</key>
                <string>{114,34}</string>
                <key>textureRect</key>
                <string>{{841,1156},{114,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnChat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,68}</string>
                <key>spriteSourceSize</key>
                <string>{67,68}</string>
                <key>textureRect</key>
                <string>{{544,1102},{67,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnCompare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,64}</string>
                <key>spriteSourceSize</key>
                <string>{120,64}</string>
                <key>textureRect</key>
                <string>{{544,980},{120,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnDiscard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,64}</string>
                <key>spriteSourceSize</key>
                <string>{120,64}</string>
                <key>textureRect</key>
                <string>{{610,957},{120,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnDownBanker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,58}</string>
                <key>spriteSourceSize</key>
                <string>{107,58}</string>
                <key>textureRect</key>
                <string>{{419,1177},{107,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnExit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,68}</string>
                <key>spriteSourceSize</key>
                <string>{67,68}</string>
                <key>textureRect</key>
                <string>{{709,1166},{67,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnNoRob.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,64}</string>
                <key>spriteSourceSize</key>
                <string>{120,64}</string>
                <key>textureRect</key>
                <string>{{676,947},{120,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnOpenCard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,79}</string>
                <key>spriteSourceSize</key>
                <string>{194,79}</string>
                <key>textureRect</key>
                <string>{{344,854},{194,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnReady.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,120}</string>
                <key>spriteSourceSize</key>
                <string>{264,120}</string>
                <key>textureRect</key>
                <string>{{303,588},{264,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnRob.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,64}</string>
                <key>spriteSourceSize</key>
                <string>{120,64}</string>
                <key>textureRect</key>
                <string>{{841,1024},{120,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnSetting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,68}</string>
                <key>spriteSourceSize</key>
                <string>{67,68}</string>
                <key>textureRect</key>
                <string>{{886,690},{67,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnWXInvite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,120}</string>
                <key>spriteSourceSize</key>
                <string>{374,120}</string>
                <key>textureRect</key>
                <string>{{303,331},{374,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnWatchCard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,64}</string>
                <key>spriteSourceSize</key>
                <string>{120,64}</string>
                <key>textureRect</key>
                <string>{{841,1090},{120,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnYuyin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,68}</string>
                <key>spriteSourceSize</key>
                <string>{67,68}</string>
                <key>textureRect</key>
                <string>{{840,1192},{67,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>curRobNum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,41}</string>
                <key>spriteSourceSize</key>
                <string>{189,41}</string>
                <key>textureRect</key>
                <string>{{631,616},{189,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>deskWord.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,124}</string>
                <key>spriteSourceSize</key>
                <string>{235,124}</string>
                <key>textureRect</key>
                <string>{{425,588},{235,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>failureBig.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{173,97}</string>
                <key>spriteSourceSize</key>
                <string>{173,99}</string>
                <key>textureRect</key>
                <string>{{425,825},{173,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,104}</string>
                <key>spriteSourceSize</key>
                <string>{100,104}</string>
                <key>textureRect</key>
                <string>{{479,1172},{100,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headBoxBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,104}</string>
                <key>textureRect</key>
                <string>{{615,1155},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headRobNumBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,50}</string>
                <key>spriteSourceSize</key>
                <string>{141,50}</string>
                <key>textureRect</key>
                <string>{{492,1000},{141,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,173}</string>
                <key>spriteSourceSize</key>
                <string>{123,173}</string>
                <key>textureRect</key>
                <string>{{182,1110},{123,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,29}</string>
                <key>spriteSourceSize</key>
                <string>{83,29}</string>
                <key>textureRect</key>
                <string>{{778,1166},{83,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkImg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{710,328}</string>
                <key>spriteSourceSize</key>
                <string>{710,328}</string>
                <key>textureRect</key>
                <string>{{1,1},{710,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkLose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,24}</string>
                <key>spriteSourceSize</key>
                <string>{45,24}</string>
                <key>textureRect</key>
                <string>{{119,1250},{45,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkWin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,24}</string>
                <key>spriteSourceSize</key>
                <string>{44,24}</string>
                <key>textureRect</key>
                <string>{{710,763},{44,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerBetBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,29}</string>
                <key>spriteSourceSize</key>
                <string>{83,29}</string>
                <key>textureRect</key>
                <string>{{809,1166},{83,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerBg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,133}</string>
                <key>spriteSourceSize</key>
                <string>{253,133}</string>
                <key>textureRect</key>
                <string>{{303,453},{253,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerBg01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,231}</string>
                <key>spriteSourceSize</key>
                <string>{131,231}</string>
                <key>textureRect</key>
                <string>{{713,181},{131,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,179}</string>
                <key>spriteSourceSize</key>
                <string>{131,179}</string>
                <key>textureRect</key>
                <string>{{1,1117},{131,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerBg11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,178}</string>
                <key>spriteSourceSize</key>
                <string>{241,178}</string>
                <key>textureRect</key>
                <string>{{713,1},{241,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robBtn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{307,1177},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robBtn2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{654,503},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robBtn3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{766,503},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robBtn4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{772,615},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robBtn5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{738,826},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roomInfoBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,126}</string>
                <key>spriteSourceSize</key>
                <string>{189,126}</string>
                <key>textureRect</key>
                <string>{{179,919},{189,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sayAni0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,74}</string>
                <key>spriteSourceSize</key>
                <string>{148,74}</string>
                <key>textureRect</key>
                <string>{{679,351},{148,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sayAni1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,74}</string>
                <key>spriteSourceSize</key>
                <string>{148,74}</string>
                <key>textureRect</key>
                <string>{{524,830},{148,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sayAni2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,74}</string>
                <key>spriteSourceSize</key>
                <string>{148,74}</string>
                <key>textureRect</key>
                <string>{{600,807},{148,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sayAni3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,74}</string>
                <key>spriteSourceSize</key>
                <string>{148,74}</string>
                <key>textureRect</key>
                <string>{{679,427},{148,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scorePool.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,32}</string>
                <key>spriteSourceSize</key>
                <string>{102,32}</string>
                <key>textureRect</key>
                <string>{{615,1249},{102,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>showCard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,94}</string>
                <key>spriteSourceSize</key>
                <string>{72,94}</string>
                <key>textureRect</key>
                <string>{{884,594},{72,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>statusBanker0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,41}</string>
                <key>spriteSourceSize</key>
                <string>{37,41}</string>
                <key>textureRect</key>
                <string>{{886,787},{37,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>statusBanker1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,57}</string>
                <key>spriteSourceSize</key>
                <string>{56,57}</string>
                <key>textureRect</key>
                <string>{{681,1069},{56,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>statusDiscard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,25}</string>
                <key>spriteSourceSize</key>
                <string>{68,25}</string>
                <key>textureRect</key>
                <string>{{886,760},{68,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>statusFailure.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,25}</string>
                <key>spriteSourceSize</key>
                <string>{89,25}</string>
                <key>textureRect</key>
                <string>{{829,465},{89,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>statusLeave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{719,1236},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>statusNoRob.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,60}</string>
                <key>spriteSourceSize</key>
                <string>{146,60}</string>
                <key>textureRect</key>
                <string>{{710,615},{146,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>statusReady.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,60}</string>
                <key>spriteSourceSize</key>
                <string>{146,60}</string>
                <key>textureRect</key>
                <string>{{676,799},{146,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>statusRob.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,60}</string>
                <key>spriteSourceSize</key>
                <string>{146,60}</string>
                <key>textureRect</key>
                <string>{{430,1000},{146,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>statusWatchCard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,25}</string>
                <key>spriteSourceSize</key>
                <string>{67,25}</string>
                <key>textureRect</key>
                <string>{{910,1192},{67,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>timeBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{74,66}</string>
                <key>textureRect</key>
                <string>{{613,1079},{74,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tips1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,35}</string>
                <key>spriteSourceSize</key>
                <string>{116,35}</string>
                <key>textureRect</key>
                <string>{{1,1250},{116,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,34}</string>
                <key>spriteSourceSize</key>
                <string>{114,34}</string>
                <key>textureRect</key>
                <string>{{841,1156},{114,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,33}</string>
                <key>spriteSourceSize</key>
                <string>{173,33}</string>
                <key>textureRect</key>
                <string>{{929,314},{173,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tips4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,34}</string>
                <key>spriteSourceSize</key>
                <string>{182,34}</string>
                <key>textureRect</key>
                <string>{{674,615},{182,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tips5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,35}</string>
                <key>spriteSourceSize</key>
                <string>{212,35}</string>
                <key>textureRect</key>
                <string>{{551,616},{212,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tips6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,35}</string>
                <key>spriteSourceSize</key>
                <string>{214,35}</string>
                <key>textureRect</key>
                <string>{{713,314},{214,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,35}</string>
                <key>spriteSourceSize</key>
                <string>{294,35}</string>
                <key>textureRect</key>
                <string>{{307,854},{294,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameSceneMain.png</string>
            <key>size</key>
            <string>{963,1288}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:245439dbdc0f74b9629a3fd40030f9cf:899729f86965fbd059d79fe01181bd90:84e5ef3e0badea9061cc11edfd366e7b$</string>
            <key>textureFileName</key>
            <string>gameSceneMain.png</string>
        </dict>
    </dict>
</plist>
