<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{481,357}</string>
                <key>spriteSourceSize</key>
                <string>{483,357}</string>
                <key>textureRect</key>
                <string>{{1,1},{481,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,63}</string>
                <key>spriteSourceSize</key>
                <string>{79,63}</string>
                <key>textureRect</key>
                <string>{{1,360},{79,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,63}</string>
                <key>spriteSourceSize</key>
                <string>{79,63}</string>
                <key>textureRect</key>
                <string>{{82,360},{79,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,63}</string>
                <key>spriteSourceSize</key>
                <string>{79,63}</string>
                <key>textureRect</key>
                <string>{{163,360},{79,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jiesanLayer.png</string>
            <key>size</key>
            <string>{483,424}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fb3e4538367a6689aa78b7073ec7fe5:05484206ad9378c4c7f692403b659fc4:27b79fe8c03e1454190847e68ad673ba$</string>
            <key>textureFileName</key>
            <string>jiesanLayer.png</string>
        </dict>
    </dict>
</plist>
