<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_type_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,41}</string>
                <key>spriteSourceSize</key>
                <string>{95,41}</string>
                <key>textureRect</key>
                <string>{{1,227},{95,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_type_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,44}</string>
                <key>spriteSourceSize</key>
                <string>{96,44}</string>
                <key>textureRect</key>
                <string>{{1,46},{96,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_type_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,43}</string>
                <key>spriteSourceSize</key>
                <string>{95,43}</string>
                <key>textureRect</key>
                <string>{{1,92},{95,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_type_4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,43}</string>
                <key>spriteSourceSize</key>
                <string>{95,43}</string>
                <key>textureRect</key>
                <string>{{1,137},{95,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_type_5_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,43}</string>
                <key>spriteSourceSize</key>
                <string>{95,43}</string>
                <key>textureRect</key>
                <string>{{1,182},{95,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_type_6_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,43}</string>
                <key>spriteSourceSize</key>
                <string>{97,43}</string>
                <key>textureRect</key>
                <string>{{1,1},{97,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jinHua.png</string>
            <key>size</key>
            <string>{99,269}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68f76d25131e018b3b69794f6af9d9d9:0a7f8e3422165d20e1845cd00e3f2c26:e90958e4259c31e829e24db9a5acfef0$</string>
            <key>textureFileName</key>
            <string>jinHua.png</string>
        </dict>
    </dict>
</plist>
