<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6loseBgSmall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,69}</string>
                <key>spriteSourceSize</key>
                <string>{559,69}</string>
                <key>textureRect</key>
                <string>{{158,168},{559,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6winBgSmall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,69}</string>
                <key>spriteSourceSize</key>
                <string>{559,69}</string>
                <key>textureRect</key>
                <string>{{153,729},{559,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9scoreBgLose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,41}</string>
                <key>spriteSourceSize</key>
                <string>{226,41}</string>
                <key>textureRect</key>
                <string>{{1,1},{226,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9scoreBgWin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,41}</string>
                <key>spriteSourceSize</key>
                <string>{226,41}</string>
                <key>textureRect</key>
                <string>{{1,44},{226,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9scoreTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,31}</string>
                <key>spriteSourceSize</key>
                <string>{67,31}</string>
                <key>textureRect</key>
                <string>{{1,1240},{67,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9settleBgLose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,0}</string>
                <key>spriteSize</key>
                <string>{373,150}</string>
                <key>spriteSourceSize</key>
                <string>{399,166}</string>
                <key>textureRect</key>
                <string>{{1,504},{373,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9settleBgMe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,155}</string>
                <key>spriteSourceSize</key>
                <string>{334,155}</string>
                <key>textureRect</key>
                <string>{{1,168},{334,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9settleBgWin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{359,144}</string>
                <key>spriteSourceSize</key>
                <string>{399,166}</string>
                <key>textureRect</key>
                <string>{{1,879},{359,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnBegin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,79}</string>
                <key>spriteSourceSize</key>
                <string>{224,79}</string>
                <key>textureRect</key>
                <string>{{1,87},{224,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>settleLayer.png</string>
            <key>size</key>
            <string>{228,1289}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ead11d5657a041b7418c475935f707a4:3946c91e2224d3e81092f0ab0c3a57e0:03e6c974c2178b29a02f8fde05e908ed$</string>
            <key>textureFileName</key>
            <string>settleLayer.png</string>
        </dict>
    </dict>
</plist>
